@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  flex-grow: 1;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 10px;
}

.homePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modalWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.modal {
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
}

.inputWrapper {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 20px;
  flex: 2;
  margin: 5px 0px;
  padding: 25px;
}

.inputDetail {
  margin: auto;
  text-align: center;
  width: 25%;
}

.input {
  background-color: #f9f9f9;
  width: 75%;
}

.button {
  background-color: green;
  border-radius: 15px;
  flex: 1;
}
